<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}Welcome{% endblock %} &mdash; What a Small World
    </title>
    <meta name="description" content="Discover interesting relationship.">
    <link type="text/css" rel="stylesheet" href="/awesome-buttons.css">
    <link type="text/css" rel="stylesheet" href="/main.css">
    <link href="progress/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="dialog/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script language="javascript" type="text/javascript" src="progress/jquery.progressbar.js"></script>
    <script language="javascript" type="text/javascript" src="dialog/jquery-ui-1.8.18.custom.min.js"></script>
    <script language="javascript" type="text/javascript" src="progress/progress.js"></script>
  </head>
  <body>
    <div id="doc">
      <div class="hd">
        {% if logged_in_user %}
          <div id="user-info">
            <div class="info">
              <a class="name" href="/user/{{ logged_in_user.user_id }}">
                {{ logged_in_user.name }}
              </a>
              <a class="logout" onclick="FB.logout()">Logout</a>
            </div>
            <img width="50" height="50" src="{{ logged_in_user.picture }}">
          </div>
        {% endif %}
        <a class="logo" href="/">What a Small World</a>
      </div>

      {% if message %}
        <div class="message {{ message.type }}">{{ message.content|safe }}</div>
      {% endif %}

      <div class="bd">
        {% block body %}{% endblock %}
      </div><!-- .bd -->

      <div class="ft">
      </div>
    </div>

    <script src="/main.js"></script>
    <div id="fb-root"></div>
    <script>
      {# async loading of facebook js sdk #}
      window.fbAsyncInit = function() { facebookInit({{ js_conf|safe }}) };
      (function() {
        var e = document.createElement('script');
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
      }());

      {# async loading of google analytics #}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19854556-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script');
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
